html {
  box-sizing: border-box;
}
::before ::after {
  box-sizing: inherit;
}
.start {
  width: 1128px;
  margin: 0 auto;
}
body {
  font-family: 'Raleway';
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.STUDIO {
  margin-left: 156px;
}
.menu {
  font-weight: 600;
  display: flex;
  gap: 40px;
}
.menu:hover {
  color: tomato;
}
.web {
  font-weight: 800;
  color: #4d5ae5;
}
.STUDIO {
  margin-right: 76px;
  font-weight: 800;
  font-size: 19px;
  line-height: 24px;
  color: #2e2f42;
}
.info {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  margin-left: 156px;
  gap: 40px;
}
h1 {
  text-align: center;
  margin-bottom: 48px;
  color: #ffffff;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/Dark-bg.jpg);
  height: 600px;
  padding: 100px 0;
  max-height: 310px;
}
.button {
  display: flex;
  flex-wrap: wrap;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  padding: 16px 32px;
}
.container1 {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-top: 124px;
  margin-left: 156px;
  margin-right: 156px;
}
p {
  font-family: 'Roboto';
  font-weight: 400;
}
main h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
  text-align: center;
  margin-top: 124px;
  margin-bottom: 72px;
}
.img {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-left: 156px;
  margin-right: 156px;
}
.text {
  margin-left: 156px;
  margin-right: 156px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin-bottom: 156px;
}
footer {
  background-color: #2e2f42;
  max-height: 310px;
  padding: 100px 0;
}

.WEB {
  font-size: 19px;
  line-height: 24px;
  color: #4d5ae5;
}

.Studioo {
  margin-top: 100px;
  font-weight: 800;
  font-size: 18px;
  color: #f4f4fd;
}
.texst {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e7e9fc;
}
.container21 {
  margin-left: 156px;
}
